:root {
  --border-radius: 5px;
  --background: #fff;
  --background-black: #1a1a1d;
  --primary-text: #161616;
  --text-on-dark-mode: #e0e0e0;
  --nav-border-color: #e5e9ea;
  --home-search-input-color:#f1f4f2;
}
